.button {
    -fx-max-width: infinity;
    -fx-background-color: #77a4ed;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

#button_minimize:hover {
    -fx-background-color: #b8d3ff;
}

#button_close:hover {
    -fx-background-color: #e81123;
}