.borderPane {
    -fx-background-color: #50577A;
}

.aboutPopup, .addEdit {
    -fx-background-color: #50577A;
    -fx-border-color: #3c4263;
}

.programBarHBox {
    -fx-background-color: #404258;
}

.gameVBox {
    -fx-background-color: #6B728E !important;
    -fx-background-radius: 5;
}

.translateVBox {
    -fx-background-color:  #6B728E !important;
    -fx-background-radius: 10;
}

.dictionaryWordInfoPane {
    -fx-background-color: #6B728E !important;
    -fx-background-radius: 10;
}

.button {
    -fx-max-width: infinity;
    -fx-background-color: #404258;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

#addCloseButton:hover {
    -fx-background-color: #e81123;
}

#editCloseButton:hover {
    -fx-background-color: #e81123;
}

#popUpCloseButton:hover {
    -fx-background-color: #e81123;
}

#button_minimize:hover {
    -fx-background-color: #5f6282;
}

#button_close:hover {
    -fx-background-color: #e81123;
}

.tabButton {
    -fx-background-color: #404258;
    -fx-background-radius: 10;
}

.list-cell {
    -fx-background-radius: 10;
    -fx-background-color: #6B728E;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-radius: 10;
    -fx-background-color: #6B728E;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0 20 0 0;
}

.list-view .scroll-bar:vertical {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #50577A;
}

.list-cell:filled:hover {
    -fx-background-color: #404258;
}

.label {
    -fx-text-fill: white;
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-area .viewport {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #848aa1 !important;
    -fx-background-radius: 10;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.translateEngVieLabel {
    -fx-background-color: #848aa1 !important;
    -fx-background-radius: 10;
    -fx-border-color:  #77a4ed;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.text-field {
    -fx-background-color: #848aa1 !important;;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#dictionary_box .content {
    -fx-cursor: default;
}

#member_list .content {
    -fx-cursor: default;
    -fx-background-color: #6B728E;
    -fx-background-radius: 10;
}

#translation_box .text-input, .text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}