.text-area {
    -fx-background-color: transparent;
}
.text-area .viewport {
    -fx-background-color: transparent;
}
.text-area .content {
    -fx-cursor: default;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

#member_list .content {
    -fx-cursor: default;
    -fx-background-color: #f0f7ff;
    -fx-background-radius: 10;
}